<div style="width: 1000px" class="flex flex-column p-4 m-auto">
  <h1>Calculator in Angular</h1>

  <app-calculator-inputs
    (firstNumberEvent)="onFirstNumberReceived($event)"
    (secondNumberEvent)="onSecondNumberReceived($event)"
    (operationEvent)="onOperationReceived($event)"
  >
  </app-calculator-inputs>

  <app-result-calculator
    [firstNumber]="firstNumber"
    [secondNumber]="secondNumber"
    [operation]="operation"
    (result)="onResultReceived($event)"
  >
  </app-result-calculator>

  <app-result-display [result]="result"></app-result-display>
</div>
