<div class="flex flex-column mt-4">
  <div>
    <label class="form-label">First Number:</label>
    <input
      class="form-control"
      [(ngModel)]="firstNumber"
      placeholder="Enter first number"
    />
    <label class="form-label mt-3">Second Number:</label>
    <input
      class="form-control"
      [(ngModel)]="secondNumber"
      placeholder="Enter second number"
    />
  </div>

  <div class="flex mt-4">
    <button
      class="btn btn-primary me-4 px-3 fw-bold"
      (click)="emitValues('ADD')"
    >
      +
    </button>
    <button
      class="btn btn-primary me-4 px-3 fw-bold"
      (click)="emitValues('SUBTRACT')"
    >
      -
    </button>
    <button
      class="btn btn-primary me-4 px-3 fw-bold"
      (click)="emitValues('MULTIPLY')"
    >
      *
    </button>
    <button class="btn btn-primary px-3 fw-bold" (click)="emitValues('DIVIDE')">
      /
    </button>
  </div>
</div>
